<div class= "container">
  <h3>SDGs(エスディージーズ）とは</h3>
  <p>SDGsは「Sustainable Development Goals（持続可能な開発目標）」の略称で、</p>
  <p>2001年に策定されたミレニアム開発目標（MDGs）の後継として2015年の国連サミットで採択された、2030年までに持続可能なよりよい世界を目指すための、国際社会の目標です。</p>
  <p>SDGsは、下記17の目標[※1]と、具体的な169のターゲットで構成されており、地球上の「誰一人取り残さない（leave no one behind）」ことを誓っています。</p>
　<div class="list">
    <p>1. NO POVERTY - 貧困をなくそう</p>
    <p>2. ZERO HUNGER - 飢餓をゼロに</p>
    <p>3. GOOD HEALTH AND WELL-BEING - すべての人に健康と福祉を</p>
    <p>4. QUALITY EDUCATION - 質の高い教育をみんなに</p>
    <p>5. GENDER EQUALITY - ジェンダー平等を実現しよう</p>
    <p>6. CLEAN WATER AND SANITATION - 安全な水とトイレを世界中に</p>
    <p>7. AFFORDABLE AND CLEAN ENERGY - エネルギーをみんなに そしてクリーンに</p>
    <p>8. DECENT WORK AND ECONOMIC GROWTH - 働きがいも経済成長も</p>
    <p>9. INDUSTRY, INNOVATION AND INFRASTRUCTURE - 産業と技術革新の基盤をつくろう</p>
    <p>10. REDUCED INEQUALITIES - 人や国の不平等をなくそう</p>
    <p>11. SUSTAINABLE CITIES AND COMMUNITIES - 住み続けられるまちづくりを</p>
    <p>12. RESPONSIBLE CONSUMPTION AND PRODUCTION - つくる責任 つかう責任</p>
    <p>13. CLIMATE ACTION - 気候変動に具体的な対策を</p>
    <p>14. LIFE BELOW WATER - 海の豊かさを守ろう</p>
    <p>15. LIFE ON LAND - 陸の豊かさも守ろう</p>
    <p>16. PEACE, JUSTICE AND STRONG INSTITUTIONS - 平和と公正をすべての人に</p>
    <p>17. PARTNERSHIPS FOR THE GOALS - パートナーシップで目標を達成しよう</p>
  </div>
  <p>SDGsの目標の達成には、個人や企業の取り組みが必要不可欠です。ただ、実際にどのようなことをしたらよいのか、またみんながどのような活動をしているのかがわからないという人も多いと思います。</p>
  <p>このサイトでは、個々人が身近で行っているささいな活動を投稿してシェアしあうことで、相互にインスピレーションを与え合い、<br>
  次第に大きな波となれることを目指しています。
  </p>


<div class="citation">
    [※1]出典：国連開発計画 駐日代表事務所
  <a href="https://www.jp.undp.org/content/tokyo/ja/home/sustainable-development-goals.html" target="_blank" rel="noopener">&nbsp;link</a>
</div>
</div>


<style>
  .list {
    color: blue;
    margin-bottom: 50px;
  }
  
  .citation {
    margin-top: 50px;
  }
</style>







