<div class="container">
  <img src="/assets/Inverted-01.png">
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary card title</h5>
      <%= render 'posts/samecategory', post: @post %>
    </div>
  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><p><%= paginate @post %></p></li>
      </ul>
    </nav>
</div>