/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 

 @import "bootstrap";
 @import "font-awesome";
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 
 header {
  // margin-bottom: 10px;
  background: linear-gradient(180deg, #f7ff59, #f8ff67, #f8ff73, #f9ff80, #faff8b, #faff96, #fbffa1, #fbffac, #fcffb7, #fcffc1, #fdffcc, #fdffd6);
 }
 
 main {
  background: linear-gradient(330deg, #c2dbff, #bfdfff, #bde3ff, #bce6ff, #bbeaff, #bbedff, #bbf0ff, #bdf4ff, #bff7ff, #c1faff, #c5fcfe, #c9fffc);
 }
 
 footer {
  margin-top: 10px;
  background: linear-gradient(180deg, #f7ff59, #f8ff67, #f8ff73, #f9ff80, #faff8b, #faff96, #fbffa1, #fbffac, #fcffb7, #fcffc1, #fdffcc, #fdffd6);
 }
 
 h1, h2 {
 font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;
 }
 
 #title {
  font-family: 'Roboto', sans-serif;
  color: orange;
 }
 
 /*以下、ページネーション*/
#pagination {
  text-align: right;
  margin-top: 10px;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
  


}